<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="bgtoolbar">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="center">IT SHOP</ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../../assets/product/15promax.webp" alt="">
          <ion-label>
            <div class="center">
              iPhone 15 Pro Max <br>
              ราคา 44,900 บาท <br>
              <ion-button>
                <ion-icon name="bag-handle-outline"></ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
        <ion-col>
          <img src="../../../assets/product/f23fe.webp" alt="">
          <ion-label>
            <div class="center">
              Samsung Galaxy S23 FE <br>
              ราคา 22,900 บาท <br>
              <ion-button>
                <ion-icon name="bag-handle-outline"></ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../../../assets/product/ipadair5.webp" alt="">
          <ion-label>
            <div class="center">
              iPad Air 5<br>
              ราคา 23,900 บาท <br>
              <ion-button>
                <ion-icon name="bag-handle-outline"></ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
        <ion-col>
          <img src="../../../assets/product/mi-14tpro.jpg" alt="">
          <ion-label>
            <div class="center">
              Xiaomi 14 Pro <br>
              ราคา 39,700 บาท <br>
              <ion-button>
                <ion-icon name="bag-handle-outline"></ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../../../assets/product/mipad5.jpg" alt="">
          <ion-label>
            <div class="center">
              Xiaomi Pad 5 <br>
              ราคา 10,990 บาท <br>
              <ion-button>
                <ion-icon name="bag-handle-outline"></ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
        <ion-col>
          <img src="../../../assets/product/s24.webp" alt="">
          <ion-label>
            <div class="center">
              Galaxy S24 Ultra <br>
              ราคา 46,900 บาท <br>
              <ion-button>
                <ion-icon name="bag-handle-outline"></ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../../../assets/product/ts9.jpg" alt="">
          <ion-label>
            <div class="center">
              Galaxy Tab S9 <br>
              ราคา 28,900 บาท <br>
              <ion-button>
                <ion-icon name="bag-handle-outline"></ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
        <ion-col>
          <img src="../../../assets/product/vivo-y20.png" alt="">
          <ion-label>
            <div class="center">
              Vivo Y20 <br>
              ราคา 5,699 บาท <br>
              <ion-button>
                <ion-icon name="bag-handle-outline"></ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>


    </ion-grid>
  </div>
</ion-content>
